Top(currentPlant='X-PUBLISH')
Menu(curr="/contentLibrary/digitalBook")
.mainRight
  .contentWrap
    .contentLeft
      .maindata
        .serachWrap( @keyup.enter="query()" )
          .title
          form#mainForm
            span.group-inline
              el-input(placeholder="请输入名称" name="name" clearable v-model="searchQuery.name")
            span.group-inline
              el-input(placeholder="所属用户" name="onwer_name" clearable v-model="searchQuery.onwer_name")
            span.group-inline
              TimePick(:inputsName="['start_time','end_time']" :placeholder="['分发起始时间','分发结束时间']")
            span.group-inline
              select.form-control( placeholder="状态" name="status" style="width:110px")
                option(value="") 审核状态
                option(:value="index" v-for="vo,index in status") {{vo}}
            span.group-inline
              el-button( type="primary"   icon="el-icon-search"  @click="query" plain ) 搜索
              el-button( type="primary"   icon="el-icon-plus"  @click="opneDetailDialog('info')") 新建
        .tableWrap
          .tableTop
            .title.vel-line
              span 全部 <span v-if="page" class="totalNum">({{page.total}})</span>
              .btns
                el-button(size="mini" type="primary"  @click="urgentDigital" plain ) 加急审核
                el-button(size="mini" type="primary"  @click="moveToOther" plain ) 移动分组
                el-button(size="mini" type="primary" @click="delChoosen(false)" plain) 删除
          table.table
            thead
              tr
                th.allBtn
                  input(type="checkbox" @click="checkAll($event)")
                th 名称
                th 所属用户
                th(v-if="product_type=='practices'") 总分值
                th(v-if="product_type=='practices'") 题型数量汇总
                th 审核状态
                th 发布状态
                th.time 分发时间
                th.operate 操作
            tbody(v-if="list")
              tr(v-for="item in list" :key="item.id")
                th
                  input(type="checkbox" :value="item.id" name="ids" ref="ids")
                th
                  img.cover-photo(:src="item.img_src")
                  .th-name.bookName(:title="item.name") {{item.name}}
                th
                  .th-name(:title="item.owner_name") {{item.owner_name}}
                td(v-if="product_type=='practices'") {{item.total}}
                td(v-if="product_type=='practices'")
                  ul.contList(v-if="item.content")
                    li(v-for="items in item.content" v-if="items.count")
                      span(v-text="items.name")
                      span(v-text="items.count")
                td(:class="getColor(item.status)") {{item.status}}
                th
                  .th-name {{item.release_status_name}}
                th
                  .th-name {{item.create_time||'-'}}
                th
                  .btns
                    Icon(size="mini" title="详情"  @click="opneDetailDialog('info' , item)" type="icon-detail"  plain)
                    Icon(size="mini" title="审核"  @click="audits(item.id)" v-if="item.audits_status != 1"  type="icon-menu-publish"  plain  )
                    Icon(size="mini" title="分发"  @click="opnePublishDialog(item)"  v-if="item.audits_status == 3"  type="icon-fenfa"  plain)
                    Icon(size="mini" title="删除"  @click="delChoosen(item.id)" v-if="item.audits_status != 1" type="icon-delete"  plain)
          .pageWrap(v-if="page")
            el-pagination( :small="false" background
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="page.num"
            :page-sizes="[10, 50, 100]"
            :page-size="page.offset"
            layout="total, sizes, prev, pager, next, jumper"
            :total="page.total")
        .gruopList
          GroupList( :groupList="groupList" :currGroup="currGroup"
          @addGroup="addGroup"
          @updateGroup="updateGroup"
          @delGroup="delGroup"
          @groupChange="groupChange")
.dialogs
  //- 详情
  el-dialog(
    :center="false"
    :visible.sync="detailDialog"
    :close-on-click-modal="false"
    top="50px"
    width="1000px"
    )
    .content(slot="title")
      Detail(
        @detailBack="detailBack"
        :type="detailDialogType"
        v-if="detailDialog"
        :detailDialog.sync="detailDialog"
        :readOnly="readOnly"
        :detailData="detailData"
        :detailType="product_type"
        @saveok="saveOk"
      )
  //- 分发
  Dispense(
    :publishDialog.sync="publishDialog"
    :item="detailData"
    v-if="publishDialog"
    :is_release="false"
    @dispenseOk="dispenseOk"
  )
  Examine(:examineDialog.sync="examineDialog" @saveExamine="saveExamine")
  //- 移动分组
  el-dialog(
    :center="false"
    :visible.sync="moveToOtherDiaolog"
    :close-on-click-modal="false"
    title="移动分组"
    width="500px"
    )
    include ../../../common/pug/moveGroupDialog.pug
